{% extends 'base.html.twig' %}

{% block title %}Foto's{% endblock %}

{% block body %}

    <h2 class="section-heading h1 pt-4">Kamer overzicht</h2>
    <div class="form-header blue accent-1">
        <p class="section-description pb-4">Hier zullen genoeg kamer staan om een goede keuzen te maken die u in gedachten had!</p>
    </div>

    <hr class="featurette-divider">
    <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="lijstbeschikbaar"><img class="card-img-top" data-src="holder.js/800x400/auto" src="{{ asset('images/kamer1.jpg') }}"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="lijstbeschikbaar" class="text-muted">1 Persoons bed 2x</a>
                    </h4>
                    <h5>€49,50 Per nacht</h5>
                    <p class="card-text">Deze kamer bevat twee 1 persoons bedden, met een inloop badkamer, bedkamer bevat een douche en een bad.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    <a class="btn btn-outline-info float-right" href="lijstbeschikbaar">Boek nu!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="lijstbeschikbaar"><img class="card-img-top" data-src="holder.js/800x400/auto" src="{{ asset('images/kamer2.jpg') }}"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="lijstbeschikbaar" class="text-muted">2 Persoons bed</a>
                    </h4>
                    <h5>$39.99 Per nacht</h5>
                    <p class="card-text">Deze kamer bevat een 2 persoons bed, het is een vrij knussen kamer, precies goed voor met zijn 2e.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
                    <a class="btn btn-outline-info float-right" href="lijstbeschikbaar">Boek nu!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="lijstbeschikbaar"><img class="card-img-top" data-src="holder.js/800x400/auto" src="{{ asset('images/kamer3.jpg') }}"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="lijstbeschikbaar" class="text-muted">Familie kamer</a>
                    </h4>
                    <h5>$65.59 Per Nacht</h5>
                    <p class="card-text">Deze kamer heeft een 1 persoons bed en een 2 persoons bed, alles in 1 ruimte. dit is ideal voor een gezin!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9734; &#9734; &#9734;</small>
                    <a class="btn btn-outline-info float-right" href="lijstbeschikbaar">Boek nu!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="lijstbeschikbaar"><img class="card-img-top" data-src="holder.js/800x400/auto" src="{{ asset('images/kamer4.jpg') }}"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="lijstbeschikbaar" class="text-muted">Twee ruime 1 persoons bedden</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Deze kamer bevat een grote badkamer en het heeft overal airco om goed uit te rusten op de kamer!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
                    <a class="btn btn-outline-info float-right" href="lijstbeschikbaar">Boek nu!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="lijstbeschikbaar"><img class="card-img-top" data-src="holder.js/800x400/auto" src="{{ asset('images/kamer5.jpg') }}"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="lijstbeschikbaar" class="text-muted">Item Five</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Deze kamer bevat twee 1 persoons bedden, met een luxe inloop badkamer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    <a class="btn btn-outline-info float-right" href="lijstbeschikbaar">Boek nu!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="lijstbeschikbaar"><img class="card-img-top" data-src="holder.js/800x400/auto" src="{{ asset('images/kamer6.jpg') }}"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="lijstbeschikbaar" class="text-muted">Een grote 2 persoons bed</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Een ronde kamer met veel ramen voor veel natuurlijk licht, ideal om zo heerlijk wakker te worden!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    <a class="btn btn-outline-info float-right" href="lijstbeschikbaar">Boek nu!</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

{% endblock %}