{% extends 'base.html.twig' %}

{% block title %}Kamer Huren{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-10">

    <h3>Beschikbaar</h3>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Foto</th>
            <th>Prijs</th>
            <th>actions</th>
        </tr>
        </thead>

        <tbody>
        {% for kamer in kamers if kamer.beschikbaar == 1 %}
            <tr>
                <td>{{ kamer.id }}</td>
                <td>{{ kamer.naam }}</td>
                <td><img src={{ vich_uploader_asset(kamer, 'imageFile') }} width="150px"></td>
                <td> € {{ kamer.prijs }}</td>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <td>
                    <a class="btn btn-outline-success" href="{{ path('kamer_show', {'id': kamer.id}) }}">show</a>
                    <a class="btn btn-outline-danger" href="{{ path('kamer_edit', {'id': kamer.id}) }}">edit</a>
                </td>
            {% else %}
                <td>
                    <a class="btn btn-outline-success" href="{{ path('kamer_show', {'id': kamer.id}) }}">show</a>
                </td>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

        <div class="col-md-10">

<h3>Niet beschikbaar</h3>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Foto</th>
            <th>Prijs</th>
            <th>actions</th>
        </tr>
        </thead>

        <tbody>
        {% for kamer in kamers if kamer.beschikbaar == 0 %}
            <tr>
                <td>{{ kamer.id }}</td>
                <td>{{ kamer.naam }}</td>
                <td><img src={{ vich_uploader_asset(kamer, 'imageFile') }} width="150px"></td>
                <td> € {{ kamer.prijs }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <a class="btn btn-outline-success" href="{{ path('kamer_show', {'id': kamer.id}) }}">show</a>
                        <a class="btn btn-outline-danger" href="{{ path('kamer_edit', {'id': kamer.id}) }}">edit</a>
                    </td>
                {% else %}
                    <td>
                        <a href="{{ path('kamer_show', {'id': kamer.id}) }}">show</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>

{% endblock %}