{% extends 'base.html.twig' %}

{% block title %}Kamer index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <h1>Kamer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Foto</th>
                <th>Prijs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kamer in kamers %}
            <tr>
                <td>{{ kamer.id }}</td>
                <td>{{ kamer.naam }}</td>
                <td><img src={{ vich_uploader_asset(kamer, 'imageFile') }} width="300px"></td>
                <td>{{ kamer.prijs }}</td>
                <td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <a class="btn btn-outline-primary" href="{{ path('kamer_show', {'id': kamer.id}) }}">show</a>
                        <a class="btn btn-outline-danger" href="{{ path('kamer_edit', {'id': kamer.id}) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('kamer_new') }}">Create new</a>
    {% else %}
        <a class="btn btn-outline-dark my-2 my-sm-0" href="/login/">Login</a>
        <a class="btn btn-outline-dark my-2 my-sm-0" href="/register/">Registreer</a>
    {% endif %}
{% endblock %}
