{% extends 'base.html.twig' %}

{% block title %}Reservering index{% endblock %}

{% block body %}

    <h1>Reservering index</h1>

    <form action="{{ path('kamer_check') }}" method="post">
        <input type="date" name="BeginDate">
        <input type="date" name="EndDate">
        <input type="submit" name="submit">
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Checkingdate</th>
                <th>Checkoutdate</th>
                <th>Betaalmethode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservering in reserverings %}
            <tr>
                <td>{{ reservering.id }}</td>
                <td>{{ reservering.checkingdate ? reservering.checkingdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservering.checkoutdate ? reservering.checkoutdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservering.betaalmethode }}</td>
                <td>
                    <a class="btn btn-outline-danger" href="{{ path('reservering_show', {'id': reservering.id}) }}">show</a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="btn btn-outline-primary" href="{{ path('reservering_edit', {'id': reservering.id}) }}">edit</a>
                        {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservering_new') }}">Create new</a>
{% endblock %}
